# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=false

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.wri           diff
*.dat           diff
